* {
  margin: 0;
  padding: 0;
}
/*https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100*/
/* font-family: 'Abril Fatface', cursive;
font-family: 'Black Ops One', cursive;
font-family: 'Fira Sans', sans-serif; */
body {
  background-image: url('../src/bg1.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}



h1{
  margin-top: 1rem;
  font-family:  'Fira Sans', sans-serif;
  text-align: center;
}

 .tg{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 80%;
 }

input{
  border: none;
  font-family: 'Fira Sans', sans-serif;
  outline: none;
  width: 75%;
  text-align: flex-end;
  padding: 10px 20px;
  border-radius: 6px;
}
h1{
  color: white;
}
.add{
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
.card{
  backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
   
}
.room{
  width: 80vw;
  overflow-x: hidden;
  height: 400px;
  margin-top: 20px;
  overflow-y: scroll;
}
.todo{
  position: relative;
  margin-top: 1rem;
  font-family: 'Fira Sans', sans-serif;
  background-color: black;
  color: white;
  width:69.5vw;
  left:-15vw;
  padding: 5px 10px;
  gap:10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
}
.hp{
  text-align: center;
  text-wrap: wrap;
  display: block;
  padding: 10px;
}
.textBox{
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  height: 400px;
  backdrop-filter: blur(-1px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 16, 20, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.textBox2{
  margin-top: -5px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  height: 310px;
  backdrop-filter: blur(-1px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 16, 20, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}
.icons span:last-child{
  color: crimson;
}

.icon{
  cursor: pointer;
  font-size: 20px;
}
.text{
  width: 38vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Arial', sans-serif;
  font-size: 16px;

}
.listed{
  width: 100%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  left:18%;

}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: crimson; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 6px; 
}
